<header>
    <div class="uui-header">
        <nav>
            <!--Responsive html-layout-->
            <div class="uui-responsive-header">
                <div class="responsive-header">
                    <div class="responsive-toggle-box">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="responsive-hide-menu">
                        <span></span>
                        <span></span>
                    </div>
                    <a href="{{ pathto(master_doc) }}" class="responsive-brand-logo">
                        <span class="arrow fa fa-angle-left"></span>
                        <span class="logo">
                        <img src="{{ pathto('_static/images/Logo_Epam_Color.svg', 1) }}" alt=""/>
                    </span>
                        <span class="title">{{project}}</span>
                    </a>
                    <ul class="responsive-header-tools nav navbar-nav">
                        <li class="responsive-header-icon search-icon">
                            <a href="#" onclick="return false">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="responsive-menu">
                    <div class="menu-wrapper">
                        <div class="menu-scroll">
                            <ul class="nav navbar-nav">
                                <li class="sub-menu active">
                                    <a href="{{ pathto(master_doc) }}">
                                        <span>{{theme_navbar_title}}</span>
                                        <div class="arrow fa fa-angle-right"></div>
                                    </a>
                                    {% include "responsive-globaltoc.html" %}
                                </li>
                                {%- for title, doc in theme_navbar_links %}
                                <li><a href="{{ pathto(doc) }}"><span>{{ title }}</span></a></li>
                                {%- endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="responsive-global-search">
                    <div class="search-header">
                        <div class="header-wrapper">
                            <div class="search-field">
                                <label></label>
                                {% include "searchbox.html" %}
                            </div>
                            <div class="hide-search">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="header-container">
                <a href="{{ pathto(master_doc) }}" class="brand-logo">
                    <span class="logo">
                        <img src="{{ pathto('_static/images/Logo_Epam_Color.svg', 1) }}" alt=""/>
                    </span>
                    <span class="title">
                      {{theme_project_full}}
                    </span>
                </a>
                <ul class="uui-navigation nav navbar-nav">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">{{theme_navbar_title}}</a>
                        {% include "globaltoc.html" %}
                    </li>
                    {%- for title, doc in theme_navbar_links %}
                    <li><a href="{{ pathto(doc) }}"><span>{{ title }}</span></a></li>
                    {%- endfor %}
                </ul>
                <ul class="uui-header-tools nav navbar-nav">
                    <li class="uui-global-search">
                        <div class="search-field">
                            <label></label>
                            {% include "searchbox.html" %}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {% include "google-analytics.html" %}
</header>