{%- block doctype -%}
<!DOCTYPE html>
{%- endblock %}

<html lang="en">
{% include "head.html" %}

<body>
    {% if pagename != "newsfeed" %}
    <div class="wrapper">

        {% include "header.html" %}

        <div class="uui-main-container">
            <main>
                {% if pagename == "index" %}
                <section class="promo-section promo-section-intro">
                    <div class="container">
                        <h1 class="uui-promo-heading">{{ theme_project_full }}</h1>
                        <div class="uui-big-text">
                            {{ theme_project_description }}
                        </div>
                    </div>
                </section>
                <section class="promo-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-8" id="main-tiles">
                                <div class="row">
                                    {%- for title, tag, image, description, link in theme_index_tiles %}
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="tile" onclick="location.href='{{link}}'">
                                            <div class="tile-image">
                                                <img src="{{ pathto('_static/images/pics/' + image, 1) }}" alt="">
                                            </div>
                                            <div class="tile-content">
                                                <div class="tile-text">
                                                    <div class="tile-label">{{tag}}</div>
                                                    <h3>{{title}}</h3>
                                                    <p>{{description}}</p>
                                                    <div class="tile-description">
                                                        <!--<ul class="uui-unstyled-list">-->
                                                            <!--<li><a href="indigo/knime.html">KNIME</a> nodes</li>-->
                                                        <!--</ul>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%- endfor %}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                {% trans path=pathto('newsfeed') %}<iframe class="news" src="{{ path }}" scrolling="no"></iframe>{% endtrans %}
                            </div>
                        </div>
                    </div>
                </section>
                {% else %}
                <section class="uui-breadcrumbs-container">
                    <div class="container">
                        <div class="row">
                            <ol class="uui-breadcrumbs">
                                <li><a href="{{ pathto(master_doc) }}">Home</a></li>
                                {% for doc in parents %}
                                <li><a href="{{ doc.link|e }}">{{ doc.title }}</a></li>
                                {% endfor %}
                                <li class="active"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                </section>
                <section class="promo-section">
                    <div class="container">
                        <div class="row">
                            {% if pagename != "ketcher/demo" %}
                                {% block sidenav %}
                                <div class="col-xs-12 col-md-3" role="complementary">
                                    {% include "sidenav.html" %}
                                </div>
                                {% endblock %}
                            {% endif %}
                            {% if pagename != "ketcher/demo" %}
                                <div class="col-xs-12 col-md-9" role="main">
                            {% else %}
                                <div class="col-xs-12" role="main">
                            {% endif %}
                                {%- block body -%}{%- endblock %}
                            </div>
                        </div>
                    </div>
                </section>
                {% endif %}
            </main>
        </div>

        {% include "footer.html" %}
    </div>

    {% else %}
        {% include "newsfeed.html" %}
    {% endif %}
</body>
</html>