name: Build Image

on:
  workflow_dispatch:

jobs:
  set-tag:
    runs-on: ubuntu-latest
    outputs:
      tag_output: ${{ steps.step1.outputs.tag_output }}
    steps:
      - name: Set image tag
        id: step1
        run: |
          echo "Setting image tag..."
          export IMAGE_TAG="$(date +%Y%m%d-%H%M%S)"
          echo "tag_output=$IMAGE_TAG" >> $GITHUB_OUTPUT
          echo "IMAGE_TAG=$IMAGE_TAG"
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          tags: epmlsop/lifescience-build:${{ needs.set-tag.outputs.tag_output }}
      - name: Push image
        run: docker push epmlsop/lifescience-build:${{ needs.set-tag.outputs.tag_output }}
